@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

/* ALL ELEMENTS */
* {
    font-family: 'Roboto Slab', serif;
}

/* IDs */
#main-content {
  margin-top: 5rem;
}

/* Footer layout
*/
footer div a:link {
  text-decoration: none;
  color: white;
}
footer div a:hover {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #235789;
  color: white;
  text-align: center;
}