@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

/* ALL ELEMENTS */
* {
    font-family: 'Roboto Slab', serif;
}

/* Footer layout
*/


footer p a:link {
  text-decoration: none;
  color: white;
}
footer p a:hover {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

footer {
  position: fixed;
  
  left: 0;
  bottom: 0;
  
  width: 100%;
  
  background-color: #235789;
  color: white;
  
  text-align: center;
}