<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Omnicook. Your one stop cooking recipe station.</title>
    
</head>
<body>
    {% block title %}{% endblock %}
    {% block content %}{% endblock %}
    <footer>
        <p>
          Tommy Lee &copy; 2019<br>
          <a class="email-footer" href="mailto:tonglin.lee@gmail.com">
          tonglin.lee@gmail.com</a>
        </p>
    </footer>
</body>
</html>