<!-- Delete Recipe -->
{% extends "base.html" %}

<!-- Main Content section -->
{% block content %}
<h2>Delete Recipe</h2>
<div class="container-fluid w-75 justify-content-center">
    <div class="alert alert-danger" role="alert">
        <form method="POST" action="{{ url_for('confirmed_delete_recipe', recipeId=recipeId['id']) }}">
            <h3 class="alert-heading">You are deleting... [Recipe Title: {{ recipeId['recipe_title']}}]</h3>
            <p>Confirm?</p>
            <hr>
            <input type="submit" class="btn btn-danger" value="Delete">
            <a href="{{ url_for('index') }}" class="btn btn-primary">Cancel</a>
        </form>
    </div>
</div>

{% endblock %}
