<!-- View Recipe -->
{% extends "base.html" %}

<!-- Navbar section -->
{% block navlinks %}
<li class="nav-item">
    <a class="nav-link active" href="{{ url_for('add_recipe') }}">add.</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('edit_recipe') }}">edit.</a>
</li>
{% endblock %}

<!-- Main Content section -->
{% block content %}
<div class="mb-2">
    <a class="btn btn-warning" href="{{ url_for('index') }}" role="button">Back to Home</a>
</div>

{% for r in recipe %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <img id="recipe-main-image" src="{{ url_for('static', filename='image/dish-with-nicebg-medium.jpg') }}">
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col text-center">
            <h1>{{ r['recipe_title'] }}</h1>
            <p><button class="btn btn-info">Type : {{ r['cuisine_type'] }}</button></p>
            <p>Author : {{ r['author_name'] }}</p>
            <p>{{ r['recipe_desc'] }}</p>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col text-center">
            <h5>Ingredients</h5>
            {% for i in ingredName %}
            <p>{{ i['ingred_name'] }}: {{ i['ingred_serving'] }}</p>
            {% endfor %}
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col text-center">
            <a class="btn btn-outline-primary" href="{{ url_for('edit_recipe', recipeId=r['id']) }}">Edit</a>
            <a class="btn btn-outline-danger" href="{{ url_for('delete_recipe', recipeId=r['id']) }}">Delete</a>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}
