<!-- View Recipe -->
{% extends "base.html" %}

<!-- Navbar section -->
{% block navlinks %}
<li class="nav-item">
    <a class="nav-link active" href="{{ url_for('add_recipe') }}">add.</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{ url_for('edit_recipe') }}">edit.</a>
</li>
{% endblock %}

<!-- Main Content section -->
{% block content %}
<h2>VIEW Recipe</h2>
<div>
    <a class="btn btn-warning" href="{{ url_for('index') }}" role="button">Back to Home</a>
</div>
{% endblock %}
